/*styles for listUsers*/
.userList{
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.userList td,.userList th{
    border: 1px solid #535252;
    padding: 8px;
}
.userList tr:hover{
    background-color: #ddd;
}
.userList th{
    background-color: #294a5f;
    color: #e0dede;
}

/*styles for insertUser*/
.userRegistration{
    margin: 10px;
    font-size: 18px;
}
.userRegistration input, .userRegistration select{
    width: 300px;
    font-size: 17px;
    padding: 8px;
}
.userRegistration button{
    width: 100px;
    padding: 4px;
    font-size: 17px;
}
