/*styles for listUsers*/
.userList {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.userList td, .userList th {
    border: 1px solid #535252;
    padding: 8px;
}

.userList tr:hover {
    background-color: #ddd;
}

.userList th {
    background-color: #294a5f;
    color: #e0dede;
}

/*styles for insertUser*/
.userRegistration, .searchUser {
    margin: 10px;
    font-size: 18px;
}

.userRegistration input, .userRegistration select, .searchUser input {
    width: 300px;
    font-size: 17px;
    padding: 8px;
}

.userRegistration button {
    width: 100px;
    padding: 4px;
    font-size: 17px;
}

.searchUser button {
    height: 40px;
    font-size: 17px;

}

/*style for a tag to button*/
.linkToButton {
    text-align: center;
    padding: 10px;
    background-color: rgba(217, 173, 173, 0.25);
    border-radius: 2px;
    text-decoration: none;
    color: black;
    height: 40px;
    font-size: 17px;
    border: 1px solid gray;
}

.banner {
    font-size: 20px;
    margin: 3px;
    border: 1px solid #d2c2c2;
    border-radius: 5px;
    color: #fdfcfc;
    text-align: center;
    padding: 5px;
}

.green {
    background-color: #0f800f;
}

.red {
    background-color: #9e0b0b;
}

.frame {
    width: 49%;
    height: 500px;
}

.footer {
    background-color: black;
    text-align: center;
    color: #dddddd;
    margin: 5px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}
